<!-- your html code here -->
<div class="contact bg-white p-5">
    <div class="contact-head">
        <h2>Contact</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>


    <div class="contact-box p-2 ps-5 w-75 mx-auto position-relative" style="background-color: #ebebeb;">
        <div class="email d-flex">
            <p class="text-nowrap text-end pe-3 w-25"><strong>Your E-mail  </strong></p>
            <div class="input-group mb-3 w-75">
                <div class="input-group-prepend p-1">
                    <!--<span class="input-group-text" id="inputGroup-sizing-default">Default</span> -->
                </div>
                <input type="text" class="form-control" placeholder="Your email" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="message d-flex">
            <p class="text-nowrap text-end pe-3 w-25"><strong>Your Message  </strong></p>
            <div class="input-group w-75">
                <div class="input-group-prepend p-1">
                    <!--<span class="input-group-text">With textarea</span> -->
                </div>
                <textarea class="form-control" placeholder="Please enter your message here..." aria-label="With textarea"></textarea>
            </div>
        </div>
        <div class="submit d-flex align-items-end flex-column mt-3">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
        <div class="pt-2"></div>
    </div>
    
</div>