<nav class="navbar bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-secondary me-4">
            Start Bootstrap
        </span>
        <div class="d-flex me-auto ">
            <a class="nav-link active text-secondary" aria-current="page" href="#firstheading">About</a>
            <a class="nav-link text-secondary" href="#services">Services</a>
            <a class="nav-link text-secondary" href="#portfolio">Portfolio</a>
            <a class="nav-link text-secondary" href="#contact">Contact</a>
        </div>
    </div>
</nav>