<!-- your html code here -->
<div class="portfolio bg-white p-5">
    <div class="portfolio-head">
        <h2>Portfolio</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="portfolio-proyect d-flex">
        <div class="proyect1">
            <div class="position-relative">
                <img src="assets/img/big-project-image.png" alt="" class="img-fluid">
            </div>
            <h4 class="text-primary">Project Name</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="proyect2 px-4">
            <div class="position-relative">
                <img src="assets/img/big-project-image.png" alt="" class="img-fluid">
            </div>
            <h4 class="text-primary">Project Name</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="proyect3">
            <div class="position-relative">
                <img src="assets/img/big-project-image.png" alt="" class="img-fluid">
            </div>
            <h4 class="text-primary">Project Name</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
</div>